#div1{
    width: 400px;
    height: 450px;
    margin-left: 90px;
    margin-top: 90px;
    border: 3px solid rgb(21, 20, 20);
    border-radius: 10px;
    background-color: #fff;
}
h1{
    margin-top: 0;
    color: rgb(217, 145, 31);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 80px;
    background-color: black;
}
h4{
    color: rgb(21, 22, 24);
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

#bank{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    border: 2px solid red;
    border-radius: 8px;
    padding: 10px;
    padding-right: 90px;
    margin-top: -20px;
}
#pass{
 margin-top: -5px;
 margin-left: auto;
 margin-right: auto;
 display: block;
 border: 2px solid red;
 border-radius: 8px;
 padding: 10px;
 padding-right: 90px;
}
#btn{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px 50px;
    border-radius: 10px;
    font-size: larger;
    font-weight: 600;
}
#btn:hover{
    color:orange;
    background-color: black;

}
.btn{
   margin-left: auto;
   margin-right: auto;
   display: block;
    text-decoration: none;
    border: 1px solid;
    border-radius: 20px;
    background-color: rgb(13, 14, 14);
    padding: 5px 50px;
}
.btn:hover{
    color: rgb(205, 15, 15);
    background-color:transparent;
}
a{
    text-decoration: none;
    color: rgb(222, 114, 6);
    font-size: larger;
    font-weight: 600;
}
p{
    margin-top: -5px;
    text-align: center;
}
#div11{
    margin-left: 120px;
    margin-top: -25px;
    margin-bottom: 10px;
}
#div12{
    margin-left: 120px;
    margin-bottom: 10px;
}
.p1{
    color: #fff;
    margin-left: 950px;
    margin-top: 100px;
    position:absolute;
    font-size: 50px;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(0, 0, 0, 0.859);
}