<div id="div1">
    <h1>Bank</h1>
    <h4>{{aim}}</h4>
    <form>
        <input 
        [(ngModel)]="acno" type="text" id="bank" [placeholder]="account" [ngModelOptions]="{standalone: true}">
        <br>
        <input 
        [(ngModel)]="pswd" type="password" id="pass" placeholder="password" [ngModelOptions]="{standalone: true}">
    </form>
    <br>
    <button id="btn" (click)="login()">login</button>
    <br>
    <p style="color: white;">forgot password? <br><a routerLink="register">sign up</a></p>
</div>

